<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>
<body class="container">
    <h1 class="my-5">Example Form</h1>
    <div th:if="${flashMessage}" class="alert alert-success" th:text="${flashMessage}" />
    <form th:action="@{/}" method="post" th:object="${exampleForm}">
        <div th:if="${#fields.hasErrors('*')}" class="alert alert-warning">
            There was an error with your submission, please see below:
        </div>

        <div class="form-group">
            <label for="name">Name (not cody):</label>
            <input id="name" class="form-control" type="text" th:field="*{name}" th:errorclass="is-invalid" />
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="invalid-feedback" />
        </div>

        <div class="d-grid mt-5">
            <input class="btn btn-outline-primary" type="submit">
        </div>

    </form>
</body>
</html>
